#Test Dosyaları
Tests/
*.todo

# Python önbellek dosyaları
__pycache__/
*.py[cod]
*$py.class

# Sanal ortam klasörleri
venv/
env/

# Gizli bilgiler (Varsa .env dosyan)
.env

# Log dosyaları
*.log

# Paketleme ve İnşa dosyaları
build/
dist/
*.egg-info/

#Key dosyaları
pip.key