pip.key
backup/*
test/*
*/__pycache__/*
app.py 
PointsServer.py
*.todo
venv
# --- 📦 Paketleme Kalıntıları ---
build/
dist/
*.egg-info/

# --- 🐍 Python Geçici Dosyaları ---
__pycache__/
*.py[cod]
*$py.class

# --- Debug ---
Zoro.py
*.json